<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

<!-- Early redirect to correct language version -->
<script src="{{ "js/lang-redirect.js" | relURL }}"></script>

<!-- Injected custom scripts -->

<script src="{{ "js/jquery-3.7.1.min.js" | relURL }}"></script>
<!-- Core -->
<script src="{{ "js/lunr.js" | relURL }}"></script>
<!-- stemmer -->
<script src="{{ "js/lunr.stemmer.support.js" | relURL }}"></script>
<!-- Languages as needed -->
<script src="{{ "js/lunr.fr.js" | relURL }}"></script>
<script src="{{ "js/lunr.de.js" | relURL }}"></script>
<script src="{{ "js/lunr.es.js" | relURL }}"></script>
<script src="{{ "js/lunr.nl.js" | relURL }}"></script>
<script src="{{ "js/lunr.tr.js" | relURL }}"></script>
<!-- search -->
<script src="{{ "js/search.js" | relURL }}"></script>
